<div id="sidebar">
  <header>
    <%= image_tag "logo.png" %>
    user@ahs-cloud.com
  </header>
  <nav>
    <ul>
      <li><a href="#">Clinical Dashboard</a></li>
      <li><a href="#">Patient Search</a></li>
      <li><a href="#">Saved</a></li>
      <li><a href="#">Recent</a></li>
      <li><a href="#">Preferences</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
</div>