<table>
  <tbody>
    <thead>
      <tr>
        <td class="one-fourth">Substance</td>
        <td class="one-fourth">Reaction</td>
        <td class="one-fourth">Severity</td>
        <td class="one-fourth">Status</td>
      </tr>
    </thead>

    <% @clinical_summary.allergies.each do | allergy | %>
      <tr>
        <td class="one-fourth"><%= substance_name(allergy) %></td>
        <td class="one-fourth"><%= reaction(allergy) %></td>
        <td class="one-fourth"><%= severity(allergy) %></td>
        <td class="one-fourth"><%= allergy_status(allergy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
