<% @clinical_summary.family_history.each do | family_member | %>
  <h6><%= family_member["Relation"]["Name"] %><%= " (Deceased)" if family_member["Relation"]["IsDeceased"] %></h6>
  <table class="family-history-table">
    <tbody>
      <thead>
        <tr>
          <td class="three-fourth">Diagnosis</td>
          <td class="one-fourth">Age at Onset</td>
        </tr>
      </thead>

      <% family_member["Problems"].each do | problem | %>
        <tr>
          <td class="three-fourth"><%= problem["Name"] %></td>
          <td class="one-fourth"><%= age_at_onset(problem) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
