<table>
  <tbody>
    <thead>
      <tr>
        <td class="one-sixth">Medication</td>
        <td class="one-sixth">Directions</td>
        <td class="one-sixth">Start Date</td>
        <td class="one-sixth">Status</td>
        <td class="one-sixth">Indications</td>
        <td class="one-sixth">Fill Instructions</td>
      </tr>
    </thead>
    
  </tbody>
</table>