<table>
  <tbody>
    <thead>
      <tr>
        <td class="one-third">Medication</td>
        <td class="one-third">Directions</td>
        <td class="one-sixth">Start Date</td>
        <td class="one-sixth">Status</td>
      </tr>
    </thead>

    <% @clinical_summary.medications.each do | medication | %>
      <tr>
        <td class="one-third"><%= medication["Product"]["Name"].capitalize %></td>
        <td class="one-third"><%= medication["FreeTextSig"].capitalize %></td>
        <td class="one-sixth"><%= start_date(medication) %></td>
        <td class="one-sixth"><%= status(medication) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
