<table>
  <tbody>
    <thead>
      <tr>
        <td class="three-fourth">Problem</td>
        <td class="one-fourth">Status</td>
      </tr>
    </thead>

    <% @clinical_summary.problems.each do | problem | %>
      <tr>
        <td class="three-fourth"><%= formatted_name_str(problem) %></td>
        <td class="one-fourth"><%= formatted_status_str(problem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
