<table>
  <tbody>
    <thead>
      <tr>
        <td class="three-fourth">Problem</td>
        <td class="one-fourth">Status</td>
      </tr>
    </thead>

    <% @clinical_summary.problems.each do | problem | %>
      <tr>
        <td class="three-fourth"><%= problem["Name"].capitalize %></td>
        <td class="one-fourth"><%= problem["Status"]["Name"].capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
