<main id="patient-detail">
  <div class="column">
    <h2>Patient Detail - Chart ID 25EA8828B25E: Jones, Myra [NYU Langone Medical Center]</h2>

    <ul class="info-links">
      <li><a href="#">Demographics</a></li>
      <li><a href="#">Allergies</a></li>
      <li><a href="#">Encounters</a></li>
      <li><a href="#">Family History</a></li>
      <li><a href="#">Immunizations</a></li>
      <li><a href="#">Medications</a></li>
      <li><a href="#">Plan of Care</a></li>
      <li><a href="#">Problems</a></li>
      <li><a href="#">Procedures</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">Social History</a></li>
      <li><a href="#">Vital Signs</a></li>
    </ul>

    <h3>Demographics</h3>

    <table>
      <tbody>
        <tr>
          <td class="one-half">First Name</td>
          <td class="one-half">Myra</td>
        </tr>
        <tr>
          <td class="one-half">Last Name</td>
          <td class="one-half">Jones</td>
        </tr>
        <tr>
          <td class="one-half">DOB</td>
          <td class="one-half">1947-05-01</td>
        </tr>
        <tr>
          <td class="one-half">SSN</td>
          <td class="one-half">123-101-5230</td>
        </tr>
        <tr>
          <td class="one-half">Sex</td>
          <td class="one-half">123-101-5230</td>
        </tr>
        <tr>
          <td class="one-half">Street Address</td>
          <td class="one-half">1357 Amber Drive</td>
        </tr>
        <tr>
          <td class="one-half">City</td>
          <td class="one-half">Beaverton</td>
        </tr>
        <tr>
          <td class="one-half">State</td>
          <td class="one-half">OR</td>
        </tr>
        <tr>
          <td class="one-half">Zipcode</td>
          <td class="one-half">97006</td>
        </tr>
        <tr>
          <td class="one-half">Home Phone</td>
          <td class="one-half">(816)276-6909</td>
        </tr>
        <tr>
          <td class="one-half">Email</td>
          <td class="one-half">12313124@fake.com</td>
        </tr>
      </tbody>
    </table>
    <a href="patient-detail.html" class="top-link">Top</a>

  </div>
</main>
