<main id="patient-detail">
  <div class="column">

    <h2>Patient Detail - Chart ID <%= @clinical_summary.id %>: <%= @patient.last_name %>, <%= @patient.first_name %> [NYU Langone Medical Center]</h2>

    <ul class="info-links">
      <li><a href="#demographics">Demographics</a></li>
      <li><a href="#allergies">Allergies</a></li>
      <li><a href="#encounters">Encounters</a></li>
      <li><a href="#family-history">Family History</a></li>
      <li><a href="#immunizations">Immunizations</a></li>
      <li><a href="#medications">Medications</a></li>
      <li><a href="#">Plan of Care</a></li>
      <li><a href="#">Problems</a></li>
      <li><a href="#">Procedures</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">Social History</a></li>
      <li><a href="#">Vital Signs</a></li>
    </ul>

    <section id="demographics">
      <h3>Demographics</h3>

      <%= render partial: 'demographics' %>

      <a href="patient-detail.html" class="top-link">Top</a>
    </section>

  </div>
</main>
